/* Navigation */
#logo img{
    width: 60px;
    height: auto;
}
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 0.9rem;
    padding: 0px 7px;
    padding-bottom: 7px;
}
/* Home section  */
#home{
    height: 370px;
    padding: 3px 70px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 14px;
}

/* Services */
#services{
    flex-direction: column;
}
#services .box{
    border: 2px solid brown;
    padding: 12px;
    margin: 3px 3px;
    border-radius: 10px;
    background-color: rgb(227 237 234);
}
#services .box img{
    width: 120px;
}
/* Client section  */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 55px;
    height: auto;
    padding: 6px;
}
/* Contact Section  */
#contact-box form{
    width: 80%;
}

/* footer  */

/* Utility class */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}